img {
    width: 100%;
}

.title {
    font-size: 18px;
    color: #00CCC1;
}

.subtitle {
    font-size: 16px;
}

.form-horario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}