<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <button mat-flat-button style="background-color: #00CCC1;color: #fff;" [routerLink]="['/home']">
                Voltar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <h2 style="margin: 0;">Lista de profissionais</h2>
            <h2>Selecione um profissinal da lista</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-4">
            <mat-card clas="card-profisional">
                <div class="d-flex">
                    <div class="col-md-1">
                        <img src="assets/medicos/m1.jpeg" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>Adriana Almeida Ferreira Silva</p>

                        <p>Psicólogo(a) - CRP 57620/RJ</p>
                    </div>
                    <div class="col-md-2 link">
                        <a [routerLink]="['/detalhes']">Ver perfil completo</a>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="col-md-12 mt-4">
            <mat-card clas="card-profisional">
                <div class="d-flex">
                    <div class="col-md-1">
                        <img src="assets/medicos/m2.jpg" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>Aline Munhoz Marques</p>

                        <p>Psicólogo(a) - CRP 60095/RJm2</p>
                    </div>
                    <div class="col-md-2 link">
                        <a [routerLink]="['/detalhes']">Ver perfil completo</a>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="col-md-12 mt-4">
            <mat-card clas="card-profisional">
                <div class="d-flex">
                    <div class="col-md-1">
                        <img src="assets/medicos/m3.jpg" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>Rafael Gonçalves De Almeida</p>

                        <p>Psicólogo(a) - CRP 57620/RJ</p>
                    </div>
                    <div class="col-md-2 link">
                        <a [routerLink]="['/detalhes']">Ver perfil completo</a>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="col-md-12 mt-4">
            <mat-card clas="card-profisional">
                <div class="d-flex">
                    <div class="col-md-1">
                        <img src="assets/medicos/m1.jpeg" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>Adriana Almeida Ferreira Silva</p>

                        <p>Psicólogo(a) - CRP 57620/RJ</p>
                    </div>
                    <div class="col-md-2 link">
                        <a [routerLink]="['/detalhes']">Ver perfil completo</a>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
</div>