<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2 style="margin: 0;">Olá <strong>Andre Souza</strong></h2>
            <h2>Como podemos lhe ajudar?</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Médico Geral</mat-card-title>
                  <mat-card-subtitle>Diversas especialidades disponíveis</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex justify-content-center">
                        <img src="/assets/images/doctor.png" width="310">
                    </div>
                  <p class="mt-4">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div class="d-flex justify-content-center">
                      <button mat-flat-button style="background-color: #00CCC1;color: #fff;" class="w-100"><mat-icon style="color: #fff;margin: 0 6px">near_me</mat-icon>
                        Atendimento imediato</button>
                  </div>
                  <div class="d-flex justify-content-center mt-2 mb-2">
                      <button mat-flat-button style="background-color: #00CCC1;color: #fff;" class="w-100"><mat-icon style="color: #fff;margin: 0 6px">calendar_today</mat-icon>Agendar Atendimento</button>
                  </div>
              </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Psicólogo</mat-card-title>
                  <mat-card-subtitle>Diversas especialidades disponíveis</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex justify-content-center">
                        <img src="/assets/images/doctor.png" width="310">
                    </div>
                  <p class="mt-4">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div class="d-flex justify-content-center">
                      <button mat-flat-button style="background-color: #00CCC1;color: #fff;" class="w-100"><mat-icon style="color: #fff;margin: 0 6px">near_me</mat-icon>
                        Atendimento imediato</button>
                  </div>
                  <div class="d-flex justify-content-center mt-2 mb-2">
                      <button mat-flat-button style="background-color: #00CCC1;color: #fff;" class="w-100"><mat-icon style="color: #fff;margin: 0 6px">calendar_today</mat-icon>Agendar Atendimento</button>
                  </div>
              </mat-card-actions>
              </mat-card>
        </div>

        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Cardiologista</mat-card-title>
                  <mat-card-subtitle>Diversas especialidades disponíveis</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex justify-content-center">
                        <img src="/assets/images/doctor.png" width="310">
                    </div>
                  <p class="mt-4">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div class="d-flex justify-content-center">
                      <button mat-flat-button style="background-color: #00CCC1;color: #fff;" class="w-100"><mat-icon style="color: #fff;margin: 0 6px">near_me</mat-icon>
                        Atendimento imediato</button>
                  </div>
                  <div class="d-flex justify-content-center mt-2 mb-2">
                      <button mat-flat-button style="background-color: #00CCC1;color: #fff;" class="w-100"><mat-icon style="color: #fff;margin: 0 6px">calendar_today</mat-icon>Agendar Atendimento</button>
                  </div>
              </mat-card-actions>
              </mat-card>
        </div>
    </div>

</div>